---
import { siteDefaults } from '../../config/siteDefaults';
import { siteLogo } from '../../config/siteLogo';
import Anchor from '../ui/Anchor.astro';
import { Icon } from 'astro-icon/components';
import manifest from '../../data/assets-manifest.json';

const manifestLogos = manifest?.logos?.files || {};

// Check for Desktop SVG in manifest
const hasDesktopSvg = Boolean(manifestLogos.desktopLogoSvg);
const hasMobileSvg = Boolean(manifestLogos.mobileLogoSvg);

const desktopAlt = `${siteDefaults.siteName} Desktop Logo`;
const mobileAlt = `${siteDefaults.siteName} Mobile Logo`;
---
<Anchor
  href="/"
  title={siteDefaults.siteName}
  ariaLabel={`${siteDefaults.siteName} Home`}
  className="inline-flex order-1 h-60 w-auto no-bb hover-bg-transparent hover-box-shadow-glow p-0"
>
  {hasDesktopSvg ? (
    <Icon name="DesktopLogo" class="h-60 w-auto big-display-inherit br" aria-label={desktopAlt} title={desktopAlt} />
  ) : siteLogo.desktopLogo ? (
    <img src={siteLogo.desktopLogo} alt={desktopAlt} title={desktopAlt} class="h-60 w-auto big-display-inherit br" />
  ) : (
    <span class="bold text-base big-display-inherit col-primary hover-col-base-100">{siteDefaults.siteName}</span>
  )}

  {hasMobileSvg ? (
    <Icon name="MobileLogo" class="h-60 w-auto sm-display-inherit br" aria-label={mobileAlt} title={mobileAlt} />
  ) : siteLogo.mobileLogo ? (
    <img src={siteLogo.mobileLogo} alt={mobileAlt} title={mobileAlt} class="h-60 w-auto sm-display-inherit br" />
  ) : null}
</Anchor>
