---
const today = new Date();
import SocialLink from './SocialLink.astro';
import ShareLink from './ShareLink.astro';
import { siteDefaults } from '../config/siteDefaults';
import { Icon } from 'astro-icon/components';
import { siteLogo } from '../config/siteLogo';

import manifest from '../data/assets-manifest.json';

const manifestLogos = manifest?.logos?.files || {};

// Check for Desktop SVG in manifest
const hasDesktopSvg = Boolean(manifestLogos.desktopLogoSvg);

const desktopAlt = `${siteDefaults.siteName} Desktop Logo`;

---

<footer class="site-footer text-s pb-2 pi-1">
  <div class="footer-columns mx-w-site w-full mi-auto pb-05 pi-1 grid gap-2 ta-start hr">
    {/* Column 1: Site Info & Contact */}
    <div class="footer-col sm-hr">
      {hasDesktopSvg ? (
        <Icon name="DesktopLogo" class="h-60 w-auto big-display-inherit br" aria-label={desktopAlt} title={desktopAlt} />
      ) : siteLogo.desktopLogo ? (
        <img src={siteLogo.desktopLogo} alt={desktopAlt} title={desktopAlt} class="h-60 w-auto big-display-inherit br" />
      ) : (
        <span class="bold text-base big-display-inherit col-primary hover-col-base-100">{siteDefaults.siteName}</span>
      )}
        <p class="text-s bold">{siteDefaults.siteName}</p>
        <p class="text-xs">{siteDefaults.title}</p>
        <p class="text-2xs pb-05">
          &copy; {today.getFullYear()} {siteDefaults.siteName}. All rights reserved.
        </p>
        <hr />
        <p class="text-xs bold uppercase">connect with us</p>
        <SocialLink id="footer-social-links" />
    </div>

    {/* Column 2: Main Pages */}
    <div class="footer-col sm-hr">
      <p class="text-2xs bold uppercase">Main Pages</p>
      <ul class="no-bullets">
        <li class="text-xs mb-05 pb-02"><a href="/">Home</a></li>
        <li class="text-xs mb-05 pb-02"><a href="/about/">About</a></li>
        <li class="text-xs mb-05 pb-02"><a href="/contact/">Contact</a></li>
        <li class="text-xs mb-05 pb-02"><a href="/privacy-policy/">Privacy Policy</a></li>
        <li class="text-xs mb-05 pb-02"><a href="/terms/">Terms of Service</a></li>
      </ul>
    </div>

    {/* <!-- Column 3: Social Links -->*/}
    <div class="footer-col sm-hr">
      <p class="text-2xs bold uppercase">Portfolio to look around</p>
      <ul class="no-bullets">
    	  <li class="text-xs mb-05 pb-02"><a href="/portfolio/clampgenerator/" target="_self" title="clampGenerator for css clamp font-size & layout properties">ClampGenerator</a></li>
		    <li class="text-xs mb-05 pb-02"><a href="/portfolio/individual/" target="_self" title="Individual Portfolio">Individuals site</a></li>
      </ul>
    </div>
  </div>

  <!-- Bottom bar -->
  <div class="footer-bottom ta-center text-xs pb-1 hr">    
    <p class="text-xs">
      Built using <a href="https://astro.build" target="_blank">Astro Framework</a>, by <a href="https://nviewsweb.com" target="_blank">NViewsWEB's AstroWEB theme</a>.
    </p>
  </div>
</footer>
