---
import BaseLayout from './BaseLayout.astro';
import type { HeadProps } from '../types/HeadProps';
import { siteDefaults } from '../config/siteDefaults';

// Read all values from Astro.frontmatter
const {
  title,
  description,
  authors = [],
  publishedDate,
  lastModified,
  canonicalUrl,
  keywords,
  index = true
} = Astro.props.frontmatter;

const headProps: HeadProps = {
  title: title || siteDefaults.siteName,
  description: description || siteDefaults.description,
  authors,
  publishedAt: publishedDate,
  updatedAt: lastModified,
  url: canonicalUrl || `${siteDefaults.siteUrl}${Astro.url.pathname}`,
  canonicalUrl: canonicalUrl || `${siteDefaults.siteUrl}${Astro.url.pathname}`,
  keywords,
  index
};
---

<BaseLayout headProps={headProps}>
  <article class="mx-w-content mi-auto full-width page-content">
    <header class="mb-2 pb-2 ta-center">
      <h1>{title}</h1>
      {description && <p class="cg-h4 ta-center">{description}</p>}
    </header>

    <section class="page-body prose">
      <slot />
    </section>
  </article>
</BaseLayout>
